.key{
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: white;
    background-color:black;
}
#space, #delete, #clear{
    width: 40px;
    background-color:white;
    color: black;
}
.labels{
    color: black;
    background-color:white;
    cursor: pointer;
    position: absolute;
}

.textSpan{
    color: white !important;
}