.container{
    display: flex;
    justify-content: center;
}

.form--container{
    margin-top: 2rem;
    border: 2px solid lightgray;
    box-shadow: 2px 5px 16px 0px #0B325E;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 16px;
    
}
.form--item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 20px;
}
label{
    margin-right: 5px;
}
.btn{
    justify-self: center;
}
.header{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: -1;
}