*{
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif    ;
}

body{
    margin: 0;
    background-color: #181B34;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    position: relative;
    color: white;
    
}
.history--container, .running--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: max-content;
    color: white;
    font-size: 1rem;
    gap: 0;
    margin-bottom: 30px;

}
.history--item--container, .running--item--container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    border-left: 4px solid blue;
    gap: 16px;
    width: 100%;
    overflow: hidden;
    background-color: #292F4C;
    font-size: 11px;
    justify-content: center;
}
.history--item, .running--item{
    padding: 5px 15px 5px 15px;
    display: flex;
    justify-content: center;
    border-right: 3px solid gray;
    align-items: center;
    width: 100%;
}
.sidebar{
    width: 70px;
    height: 100vh;
    background-color: #292F4C;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.link{
    color: white;
}

.stopButton{
    display: flex;
    justify-content: center;
}
.tracking-header{
    column-span: all;
    width: 100%;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    margin-bottom: 5px;
}
.running-tracking-header{
    column-span: all;
    width: 100%;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    margin-bottom: 5px; 
}
.tracking-header > span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    display: flex;
    width: 100%;
    background: #4E9CAF;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: white;
}
.playButton{
    padding: 2px 10px 2px 10px;
}
.parent .hidden-child{
    display: none;
    position: absolute;
    
    transform: translateX(100%)
}
.parent{
    cursor: pointer;
    
}
.parent:hover .hidden-child{
    display: block;
}


.logout-button{
    font-size: 10px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 5px;
    border-radius: 16px;
    background-color:#b23b3b; 
}
.logout-button:hover{
    background-color: #ff0000
}
summary{
    margin-bottom: 10px;
}

.navigation-button{
    background-color: rgba(243, 243, 59, 0.786);

    margin-top: 200px;
    width: 45px;
    height: 35px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
    
}
.navigation-button:hover{
    background-color: rgb(242, 242, 23);
}

.delete-btn{
    margin-left: 20px;
    color: white;
    background-color: red;
    text-decoration: none;
}