

.btn{
    text-decoration: none;
}

div#top 
{
    border: 4px solid #fff;
    text-align: center;
    width: 200px;
    margin: 0 auto 0 auto;
    font-size: 1em;
    text-align: center;

}

div#top a {
margin-bottom: 40px;
}