
div#top, div#content, div#bottom
{
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 10px 0px 10px 0px;
    width: 680px;
    margin: 0 auto 0 auto;
    text-align: center;
}

.bottom, .top{
    background-color: rgb(39, 16, 16);
}

.itemCol1 {
    width: 200px;
    text-align: center;
}

.itemCol2, .itemCol3 {
    width: 60px;
}

.itemCol4 {
    width: 200px;
}

.content {
    min-height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.item{
    display: flex;
    flex-direction: row;
    width: 480px;
    justify-content: space-between;
}

input.small {
    width: 40px;
    text-align: center;
}
input.medium {
    min-width: 100px;
    text-align: center;
}

input.big {
    min-width: 120px;
    text-align: center;
}

.active {
    border: 2px solid greenyellow;
}

.errorMessage {
    color: red;
}

#edit {
    width: 20px;
}

.underline {
    border-bottom: 1px solid red;
}